.cardImage {
    width:200px;
  height:200px;
}
/* .right{
 
  overflow-y: auto
} */
input{
  width: 25%;
  height: 25px;
  border: none;
  background-color:#dfdbdb;
}
button{
  border: none;
}
/* .Button{

  
} */
.right ul li{
  list-style: none;
  margin-top: 5%;
}
/* .cardFuntion{
  list-style: none;

  display:inline;
  
} */
.shopInfo{
    display:inline-flex;
    padding: 2%
}
 .info li{
    list-style: none;
    display: inline;
    /* padding-left: 10%;
    padding-right: 10%; */
   

  }     

.selinfo li {
    list-style: none;
    display: inline;
    
    


}
.twocl{
    display:inline-flex;
}

