 .top{
    font-family: 'Courier New';
    font-weight: 600;
    font-size: 30px;
    color:white ;
    display: inline-flex;
}
.bottom{
    font-family: 'Franklin Gothic Medium';
    font-weight: 3;
    font-size: 15px;
    /* margin: -10 -10 -10 -10; */
    padding: 10px; 
    color:white ; 

 } 
.logo {
   margin-bottom: 10px;
}